---
import { SCORE_API_ENDPOINT } from "astro:env/server";

const response = await fetch(SCORE_API_ENDPOINT);
const scoreValue = await response.text();
---

<span id="score" class="text-xs">
  Puntuación: {scoreValue.trim()}/5
</span>
